* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: oklch(0.371 0 0);
}

.grid {
  display: grid;
  justify-content:center;
  align-items: center;
  gap: 2rem;
}

.grid-template--3col {
  grid-template-columns: repeat(3, 1fr);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.hide{
  display:none !important;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-style{
  border: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #F38C79;
  box-shadow: 0rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.089);
  transition: all 0.3s;
}

.btn-style:hover,
.btn-style:active{
  background-color: #FFC1B4;
}
.form{
  display: flex;
  flex-direction: column;
  align-items:center;
}
.p-form{
  font-size:  2rem;
}

.p-form,
.input-style{
  color: oklch(0.97 0 0);
}

.input-style{
  border-radius: 0.5rem;
  box-shadow: 0rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.089);
}

.textarea-field,
.input-field{
  padding: 0.5rem;
  width: 30%;
  background-color: oklch(0.985 0 0);
  font-size: 1.5rem;
  color: #111;
}

.btn-container{
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
} 

.cancel{
  background-color: red ;
}

.submit{
  background-color: #A0C878;
}

.item {
  width: 100%;
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
  max-width: 30rem; 
  height: 20rem; 
  padding: 1rem;
  background-color: oklch(0.985 0 0);
  color:#222;
  box-shadow: 0rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.089);
  border-radius: 1rem;
  overflow-y: auto;  
  overflow-x: hidden; 
  white-space: pre-wrap; 
  word-break: break-word; 
  hyphens: auto;
}

.item::-webkit-scrollbar {
  width: 0.7rem;
}
.item::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
}
.item::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 1rem;
}

.item::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.flex-txt {
  display: flex;
  justify-content:center;
  align-items: center;
  color: inherit;
}

.flex-txt--dir {
  flex-direction: column;
}

.space {
  justify-content: space-between;
  width: 100%;
}

.delete-post {
  cursor: pointer;
}

.item-header {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.item-txt {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: inherit;
}
